body{
  background: #C4C4C4;
}

.container{
  padding:20px;
  margin:0 auto;
  width: 292px;
  height: 587px;
  display:flex; /*display blok misal (width 100%) flex kekanan dan itung width*/
  flex-direction: column; /*alu flex 1 blok bernilai 1 kolom kolom kebawah kl row ke samping*/
  background: #FFFFFF;
}

input[type="text"]{
  padding:0 10px;
  flex-grow:2; /* default nilai 1 */
  margin-right:20px;
  height:39px;
  background: #EFEFEF;
  border: 1px solid #818181;
  box-sizing: border-box;
}

button{
  flex-grow:1;
  background: #FF6F6F;
  border:0;
  height:39px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  cursor:pointer;
}


::-webkit-input-placeholder, 
:-ms-input-placeholder, 
::placeholder { /* Edge */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.toDo-input {
  display:flex;
  flex-direction: row;
}

ul {
  list-style-type:none;
  display:block;
  flex-direction: column;
  padding:0;
  transition:all 0.5 ease;
}

li {
  display:block;
  flex-direction: row;
  flex:1;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;

  border-color:black;
  border-style: solid;
  border-width:1px 0 1px 0;
  padding:20px 0;
  transition:all 0.5 ease;
}

/* li:nth-child(even){
  border-width:0;
} */

li:last-child{
  border-bottom:50px solid black;
}

li input.checkboxClass {
  cursor: copy;
}

li a.action {
  float:right;
  cursor: pointer;
}