.blok1{
    height: 50vw;
    width: 50vw;
    background-color: aqua;
}

.blok2{
    height: 25vw;
    width: 50vw;
    background-color:blueviolet;

}

.blok3{
    height: 50vw;
    width: 10vw;
    background-color:red;
}

.blok4{
    height: 25vw;
    width: 50vw;
    background-color:brown;
}

.flex-wrap-nyamping{
    display: flex;
    flex-direction: row;       
}

body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.flex-wrap-mbawah{
    display: flex;
    flex-direction: column;
}

.blok5{
    height: 50%;
    width: 50%;
    background-color:yellow;
    /* z-index: 1; */
}
.blok6{    
    height: 50%;
    width: 50%;
    background-color:black;
    /* z-index: 2; */

}